body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-image: url("https://imgur.com/Hjv7PK9.gif");
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;
}


.align-content-center {
    display:inline;
    float:center;
    margin-top: 0px;
    align-items: center;
    justify-content:center;
    background-color: transparent;
    font-family: 'shalimar';
    font-size: 50px;
    font-weight: bold;
    color:cornsilk;

};

.b1 {
    display:flex;
    flex:wrap;
    padding-inline: 40px;
    margin-left: 200px;
}


#zodiac-display {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    border: 15px purple ridge;
    background-color: mediumpurple;
    font-family: 'tangerine';
};

#past-search-buttons {
    display: flex;
    flex: wrap;
    padding: auto;
    margin-top: 30px;
};

.b1,
.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b10,
.b11,
.b12 {
    font-family: 'tangerine';
    display: flex;
    flex: wrap;
    align-items: center;
    padding: 40px;
    background-color: silver;
    color: silver;
};

.h4 {
    font-family: 'tangerine';
    align-items: center;
}